* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://cdn.pixabay.com/photo/2012/12/24/08/39/background-72250_1280.jpg");
}
header {
  text-align: center;
}

aside {
  padding: 0 200px;
}

ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: space-around;
}

input,
textarea {
  outline: none;
  resize: none;
  background-color: hsl(189, 87%, 80%);
}
::placeholder {
  color: black;
}
.notes-list {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin: 0;
}

.app-header__title {
  margin: 10px 20px 0px;
  font-family: Arial, sans-serif;
  color: ;
}

.app-header__controls {
  display: flex;
  align-items: center;
  margin: 10px 0 0 10px;
}

.search,
.add-new {
  font-size: 14px;
  padding: 5px;
  margin: 8px;
}

.search {
  flex-grow: 1;
  max-width: 300px;
}

.add-new {
  border-radius: 5px;
  cursor: pointer;
  padding: 8px;
  font-weight: bolder;
  background-color: hsl(189, 87%, 80%);
  outline: none;
}

.note {
  font-family: "Permanent Marker", cursive;
  width: 200px;
  height: 200px;
  margin: 10px;
  background-color: hsl(189, 87%, 80%);
  border: 1px solid black;
  box-shadow: 10px 10px 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.note__title,
.note__description {
  font-family: "Permanent Marker", cursive;
  width: 100%;
  padding: 8px 14px;
  background: transparent;
}

.note__title {
  font-size: 16px;
  font-weight: bold;
}

.note__description {
  flex-grow: 1;
  font-size: 14px;
}

.note__delete {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 20px;
  padding: 5px;
}

.note__delete:hover {
  color: black;
  cursor: pointer;
}
